# biovision rules for USB devices
# copy it with root rights into the directory /etc/udev/rules.d
# then you can access the devices from user space
# (reconnect the device after copy action)
#
SUBSYSTEMS=="usb", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="5740", GROUP="users", MODE="0666", ENV{ID_MM_DEVICE_IGNORE}="1"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="5741", GROUP="users", MODE="0666", ENV{ID_MM_DEVICE_IGNORE}="1"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="303a", ATTRS{idProduct}=="4001", GROUP="users", MODE="0666", ENV{ID_MM_DEVICE_IGNORE}="1"

